#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;

    & ul li a:hover {
        color: $blue !important;
    }
}

.navbar {
    background: #fff !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-brand {
    img {
        height: 40px;
        padding-left: 30px;
    }
}

.navbar-nav {
    li {
        padding: 0 10px;

        a {
            float: right;
            text-align: left;
        }
    }
}

.nav-link {
    color: $gray !important;
    font-weight: 600;
    font-size: 16px;
}